# Compiled Object files
*.slo
*.lo
*.o


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#QT files
*.pro.user
*.pro.user.16
*.pro.user.3.2-pre1

#Folders
moc/
obj/
ptx/

Makefile
